@using ShopManagementApp.Dtos
@model List<ShopDto>;

<h3>Shops list</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Shop Name</th>
      <th scope="col">Items</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (ShopDto shop in @Model)
    {
    <tr>
        <th scope="row"></th>
        <td>@shop.Id</td>
        <td>@shop.Name</td>
        <td>@string.Join(";", @shop.Items.Select(x => x.Item.Name))</td>
        <td>@Html.ActionLink("Remove", "Delete", "Shop", new { id = shop.Id })</td>
    </tr>
    }
  </tbody>
</table>