@model Item

<h2>Add Item</h2>

<form action="/Shop/Add" method="post">
  <div class="form-group">
    <label for="Name">Shop Item</label>
    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter shop item">
  </div>
  <div class="form-group">
    <label for="ShopName">Shop Name</label>
    <input type="text" class="form-control" id="ShopName" name="ShopName" placeholder="Enter shop name">
  </div>
  <div class="form-group">
    <label for="ExpiryDate">Item expiry date</label>
    <input type="date" class="form-control" id="ExpiryDate" name="ExpiryDate" placeholder="Enter expiry date">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@*@using (Html.BeginForm("Add", "Shop", FormMethod.Post))
{
    @Html.LabelFor(a => a.Name)
    @Html.TextBoxFor(a => a.Name)

    @Html.LabelFor(a => a.ShopName)
    @Html.TextBoxFor(a => a.ShopName)

    @Html.LabelFor(a => a.ExpiryDate)
    @Html.TextBoxFor(a => a.ExpiryDate)

    <input type="submit" value="Submit"/>
}*@